# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Research audio files
*.wav
*.DSB
*.DDB

# Research data files
*.csv

# Useless
*.idea
*.pdf
*.DS_store

