# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Research audio files
*.wav
*.DSB
*.DDB

# Research data files
*.csv
*.png
*.jpg
*.JPG
*.gif

# Useless
*.idea/
.idea/
.idea
*.pdf
*.DS_store
.DS_store
*.pptx
slide/

bin/
build/
